* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #add8e6;
}

.header-first{
    padding: 10px;
}

.head-content{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

ul{
    text-align: center;
}

li{
    display: inline-block;
    list-style: none;
}

li a{
    text-decoration: none;
    display: inline-block;
    padding: 6px;
}

.logo{
    flex-grow: 1;
    background-color: #daa520;
    padding: 6px;
}

.menu{
    flex-grow: 3;
    background-color: #daa520;
}

.login{
    flex-grow: 1;
    background-color: #daa520;
    text-align: end;
    padding: 6px;
}

.border{
    border: 2px dashed black;
}

.first-sec{
    background-color: #00008b;
    padding: 40px 0;
    border-bottom: 3px solid #add8e6;
}

.first-sec-content{
    width: 800px;
    height: 480px;
    margin: 0 auto;
    background-color: #ee82ee;
}

.second-sec{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
}

.col-l{
    flex-basis: 30%;
    height: 520px;
    background-color: #1e90ff;
}
.col-r{
    background-color:#ffc0cb;
    flex-basis: 20%;
    height: 520px;
}

.third-sec{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 40px 0;
}

.fourth-sec{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
}

.fifth-sec{
    background-color: #d3d3d3;
    padding: 40px 0;
}

.fifth-sec-content{
    width: 50%;
    height: 850px;
    margin: 0 auto;
    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

.footer-first{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px 0 40px 0;
}

.footer-l{
    width: 33.3333%;
    height: 520px;
    background-color: #f08080;
}

.footer-r{
    width: 66.6666%;
    height: 520px;
    background-color: #20b2aa;
    display: flex;
}

.border-white{
    border: 2px dashed white;
    flex-basis: 25%;
}

.footer-second{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-content{
    width: 50%;
    background-color: #7fffd4;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content div{
    background-color: #ffb6c1;
    padding: 3px;
}



